* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image {
    flex: 1;
    text-align: start;
    margin-left: 50px;
}

.image img {
    max-width: 82.5%;
    max-height: 80vh;
    margin-top: 1vh;
}

#image{
    margin-top: 1.5vh;
}

.content {
    flex: 1;
    text-align: start;
    margin-right: 50px;
    
}

.content h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.content p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.content .nextBtn{
  cursor: pointer;
  border: none;
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  transition: 0.3s;
}

.content .nextBtn:hover{
    background-color: brown;
    transition: 0.3s;
}
