.navbar {
    height: 7vh;
    background: rgba(255, 0, 0, 0.4);;
    font-family: calibri;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 14px;
  }
  .navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo a {
    font-size: 35px;
    font-weight: 600;
    color: black;
  }
  .navbar-item {
    list-style: none;
    display: inline-block;
  }
  li a {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-right: 25px;
    transition: 0.2s;
    
  }
  
  li a:hover{
      color:black;
  }